<section class="all-page-more-info">
    <header class="more-info-header">
        <!-- <section class="profile-name">João Ventura</section>
        <section class="profile-description">
            <span>Hi, I'm João and thanks for visiting my portfolio. <br> I hope you enjoy what is coming!</span>
        </section> -->
        <svg width="1440" height="1024" viewBox="0 0 1920 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <rect width="1440" height="1024" fill="black" />
                <path
                    d="M1270 469C1270 772.757 1023.76 1019 720 1019C416.243 1019 170 772.757 170 469C170 165.243 416.243 -81 720 -81C1023.76 -81 1270 165.243 1270 469Z"
                    fill="white" />
                <rect y="211" width="1440" height="817" fill="white" />
                <circle cx="1420" cy="81" r="250" fill="black" />
                <circle cx="21" cy="81" r="250" fill="black" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="1440" height="1024" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </header>
    <section class="container-info">
        <!-- <img src="../../assets/angular.svg" alt="angular.svg"> -->
    </section>
    <!-- <img src="../../assets/shape2.svg" alt="shape2.svg"> -->
</section>