.all-page-more-info{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(auto, auto) 1fr;
}

.more-info-header{
    width: 100%;
    height: 250px;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(auto, 1fr));
    justify-items: center;
    align-items: center;
    color: black;
    background-image: url('../../assets/backgroundInfo.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    
    .profile-name{
        grid-row: 1/2;
        font-family: "Montserrat", sans-serif;
        font-size: 3vw;
        font-weight: 700;
    }
    .profile-description{
        grid-row: 2/3;
        font-family: "Montserrat", sans-serif;
        font-size: 1.3vw;
        font-weight: 700;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }
}

.container-info{
    grid-row: 2/3;
    width: 100%;
    height: calc(100% + 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
}

