.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .lazy-line-painter {
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .typeText{
        position: absolute;
        top: 15%;
        right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-size: 5em;
            font-weight: 700;
        }   
    }

    .more-info{
        cursor: default;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        span{
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 2em;
            font-weight: 700;
        }  
    }

    .btn-more-info{
        cursor: pointer;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        transition: 0.3s all ease 0s;
        border: 0px solid white;
        border-radius: 8px 8px;
        justify-content: center;
        align-items: center;
        opacity: 0;
        span{
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1em;
            font-weight: 700;
            position: absolute;
            margin: auto 0;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .svg-animate {
            height: 55px;
            width: 150px;
            fill: none;
            stroke-width: 5;

            .o2 {
                stroke: white;
                stroke-dasharray: 20 420;
                stroke-dashoffset: 20;
                transition: all 1s ease-in-out;
            }
        }
        &:hover {
            
            .o2 {
                stroke-dashoffset: -420 !important;
            }
        }
    }
}